@model SerTerraQueijaria.Models.Produto

@{
    Layout = "_Layout-Admin";
    ViewData["Title"] = "Delete";
}

<h1 class="montserrat-titulo">APAGAR</h1>

<h5 class="ms-4 mb-3">Você tem certeza que deseja deletar esse item?</h5>

<hr class="linha-admin">

<div class="container mt-5">

    <dl class="row">
        <dt class="col-sm-2 ms-4">
            <strong> @Html.DisplayNameFor(model => model.NomeProduto)</strong>
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.NomeProduto)
        </dd>
        <dt class="col-sm-2 ms-4">
            <strong>@Html.DisplayNameFor(model => model.Descricao)</strong>
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-2 ms-4">
            <strong>@Html.DisplayNameFor(model => model.PrecoUnitario)</strong>
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.PrecoUnitario)
        </dd>
        <dt class="col-sm-2 ms-4">
            <strong>@Html.DisplayNameFor(model => model.QtdEstoque)</strong>
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.QtdEstoque)
        </dd>
        <dt class="col-sm-2 ms-4">
            <strong>@Html.DisplayNameFor(model => model.TiposProdutoId)</strong>
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.TiposProdutoId)
        </dd>
    </dl>

    <div class="mt-4 ms-4">
        <form asp-action="Delete" class="d-inline">
            <input type="hidden" asp-for="ProdutoId" />
            <input type="submit" value="Delete" class="btn btn-outline-danger me-2" />
        </form>

        <a asp-action="Index" class="btn border-1 border-dark">
            <svg bootstrap-icon="ArrowLeft" width="16" height="16" aria-label="Voltar"></svg> Voltar
        </a>
    </div>
</div>
