@model SerTerraQueijaria.Models.Cliente

@{
    Layout = "_Layout-Admin";
    ViewData["Title"] = "Details";
}

<h1 class="montserrat-titulo">DETALHES</h1>

<hr class="linha-admin">

<div class="container mt-5">
    <dl class="row">
        <dt class="col-sm-2 ms-4">
            <strong>@Html.DisplayNameFor(model => model.Nome)</strong>
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt class="col-sm-2 ms-4">
            <strong>@Html.DisplayNameFor(model => model.Fone)</strong>
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Fone)
        </dd>

        <dt class="col-sm-2 ms-4">
            <strong>@Html.DisplayNameFor(model => model.Email)</strong>
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt class="col-sm-2 ms-4">
            <strong>@Html.DisplayNameFor(model => model.Cpf)</strong>
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Cpf)
        </dd>
    </dl>

    <div class="mt-4 ms-4">
        <a asp-action="Edit" asp-route-id="@Model?.ClienteId" class="btn btn-outline-warning me-2">Editar</a>

        <a asp-action="Index" class="btn border-1 border-dark">
            <svg bootstrap-icon="ArrowLeft" width="16" height="16" aria-label="Voltar"></svg> Voltar
        </a>
    </div>
</div>
